@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);


black = #121314
white = #fff
containerWidth = 600px
containerHeight = 380px
fontSizeNormal = 24px
fontSizeBig = 120px
fontFamily = "Roboto Mono", monospace

*
  transition all ease .5s

body
  width 100vw
  height 100vh
  padding 0
  margin 0
  background black
  font-family fontFamily
  font-weight 300
  color white
  .buttonSwitcher
    width 20px
    height 20px
    border-radius 50%
    position absolute
    right 16px
    top 16px
    z-index 1
    &:hover
      animation circlePulse .5s ease infinite
      cursor pointer
  .circle
    width 20px
    height 20px
    background white
    border-radius 50%
    position absolute
    right 16px
    top 16px
    z-index 0
  .container
    width containerWidth
    height containerHeight
    background transparent
    position absolute
    z-index 2
    top 50%
    left 50%
    margin-left -(containerWidth/2)
    margin-top -(containerHeight/2)
    #labelOne, #labelTwo, #counter
      width 100%
      text-align center
      position absolute
    #labelOne, #labelTwo
      font-size fontSizeNormal
    #labelOne
      top 0
    #labelTwo
      bottom 0
    #counter
      font-size fontSizeBig
      line-height containerHeight

.circleWhite
  animation circleWhite 1s ease forwards
.circleBlack
  animation circleBlack 1s ease forwards
.bgIsWhite
  animation bgIsWhite .5s ease forwards
.bgIsBlack
  animation bgIsBlack .5s ease forwards
.textIsBlack
  animation textIsBlack .5s ease forwards
.buttonSwitcherIsBlack
  animation buttonSwitcherIsBlack 1s ease forwards

.imgDeath
  background url("http://img2-ak.lst.fm/i/u/770x0/f34da0d762004c6fb0aeffb5414a36a6.jpg")
  opacity 0
  width 0px
  height 0px

@keyframes circleWhite
  0%
    transform scale(1)
    background white
  50%
    transform scale(200)
    background white
  99%
    transform scale(1)
    background white
  100%
    transform scale(1)
    background black


@keyframes circleBlack
  0%
    transform scale(1)
    background black
  50%
    transform scale(200)
    background black
  99%
    transform scale(1)
    background black
  100%
    transform scale(1)
    background white

@keyframes bgIsWhite
  0%
    background black
  50%
    background black
  100%
    background white

@keyframes bgIsBlack
  0%
    background white
  50%
    background white
  100%
    background black

@keyframes textIsBlack
  0%
    color white
  50%
    color white
  100%
    color black

@keyframes buttonSwitcherIsBlack
  0%
    background white
  50%
    background white
  100%
    background black

@keyframes circlePulse
  0%
    transform scale(1)
  50%
    transform scale(1.2)
  100%
    transform scale(1)

.counterToNothing
  opacity 0
  transition opacity 0s
