doctype html
head
  meta(charset="utf-8")
  title Death vs. Life
  link(rel="stylesheet", href="css/main.css", media="screen", title="no title", charset="utf-8") 
  script(type="text/javascript", src="//code.jquery.com/jquery-1.12.0.min.js") 
body
  script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-576cff89f7402087")
  .imgDeath
  .buttonSwitcher
  .circle
  .container
    #labelOne <span id="hours"></span><span id="minutes"></span><span id="seconds">0</span> spend on the site
    #counter 0
    #labelTwo people died
  script(type="text/javascript", src="js/script.js")
  
  
